body {
    background-color: #2A2E30;
}

header {
    position: absolute;
    padding: 2vmin;
    top: 0px;
    left: 0px;

    width: 76vmin;
    height: 5vmin;

    background-color: #2A2E30;
    z-index: 998;
}

canvas {
    position: absolute;
    visibility: hidden;
}

video {
    display: block;
    width: 64vmin;
    height: 36vmin;    
    border-radius: 5px;
    margin: auto;    
}

#preview-image {
    display: block;
    width: 64vmin;
    height: 36vmin;
    border-radius: 5px;
    margin: auto;    
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.show-gallery-img {
    display: block;
    margin-left: auto;
}

.show-preview-img {
    display: block;
    margin-left: auto;
}

.round-rect-button {
    color: black;
    background-color: #ffffff;
    height: 5rem;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    border: none;
    font-size: larger;
    font-weight: bold;
}


#video-preview {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 76vmin;
    height: 90vmin;
    left:50%;
    margin-left:-35vmin;
}

#photo-preview {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 76vmin;
    height: 90vmin; 
    left:50%;
    margin-left:-35vmin;   
}

#gallery-view {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 76vmin;
    height: 90vmin;
    left:50%;
    margin-left:-35vmin;
}

#gallery-view ul {
    position: absolute;
    top: 10vh;
    width: 76vmin;
    height: 80vh;
    margin: auto;
    overflow-y: auto;
    max-height: 80vh;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    background-color: transparent;
}

.photo-list-item {
    padding-bottom: 3vmin;
    margin: 0px;
    background-color: transparent;
}

.photo-image {
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: transparent;

    width: 32vmin;
    height: 18vmin;    
    z-index: -1;
}

.delete-image {
    position: relative;
    top: -14vmin;
    right: 4vmin;
    width: 3vmin;
    height: 3vmin;
    background-color: transparent;
}